body {
    font-family: 'Fira sans', sans-serif;
    margin: 0
}

.navbar {
    display: flex;
    padding: 0 50px;
    background: #941818;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 40px;
    font-size: 17px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color:bisque;
}

#logo {
    width: 10vh;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #dbda8e,#ffffff);
    height: 550px;
}

#picture {
    width: 50%;
    background: transparent;
}

.texto {
    max-width: 50%;
    color: black;
    background: transparent;
}

.texto h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}

.texto p{
    font-size: 18px;
    margin-top: 5px;
    color:black;
}

.my-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #941818;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #7a4343;
}